<header [class.isTransparent]="isTransparent">
  <app-logo class="titleLogo"></app-logo>
  <nav class="header__nav">
    <ul>
      <li><a class="navLink" routerLink="/">TOP</a></li>
      <li><a class="navLink" routerLink="/speakers">SPEAKERS</a></li>
      <li><a class="navLink" routerLink="/sessions">SESSIONS</a></li>
      <li>
        <a class="localeLink" routerLink="/" [class.is-active]="locale === 'ja'">JP</a>
        <span class="separator">|</span>
        <a routerLink="/en/" [class.is-active]="locale === 'en-US'">EN</a>
      </li>
    </ul>
  </nav>
  <ng-container *ngIf="showJoinButton">
    <a class="button" i18n="@@connpass" href="https://ngjapan.connpass.com/event/88084/" target="_blank" rel="noreferrer noopener">Join us!</a>
  </ng-container>
</header>
