:host {
  display: block;
  padding-bottom: 32px;
  color: var(--color-text-contrast);
}

a:not(.button) {
  color: var(--color-text-contrast);
}

.text {
  font-size: 24px;
  margin-bottom: 16px;
}

.link {
  text-align: center;
}

@media (max-width: 667px) {
  .text {
    font-size: 16px;
  }
}
