<app-hero></app-hero>

<section class="event-description">
  <p>
    This year's ng-japan has been held as a single track of
    <a href="https://tokyo.gdgjapan.org/devfest2020">GDG DevFest</a>.<br />
    Please visit DevFest website to see the details.
  </p>
  <br />
  <p>
    今年のng-japanは
    <a href="https://tokyo.gdgjapan.org/devfest2020">GDG DevFest</a>
    の1トラックとして開催されました。<br />
    イベントの詳細についてはDevFestのウェブサイトをご覧ください。
  </p>
</section>

<section id="live">
  <h2 class="sectionTitle"><a href="#live">Watch Video!</a></h2>
  <app-videos></app-videos>
</section>

<section id="about">
  <h2 class="sectionTitle">
    <a href="#about">What's <span class="highlight">ng-japan</span>?</a>
  </h2>
  <app-top-introduction></app-top-introduction>
</section>
