<app-hero></app-hero>

<section id="videos">
  <h2 class="sectionTitle"><a href="#live">Watch Live!</a></h2>
  <app-videos></app-videos>
</section>

<section id="about">
  <h2 class="sectionTitle">
    <a href="#about">What's <span class="highlight">ng-japan</span>?</a>
  </h2>
  <app-top-introduction></app-top-introduction>
</section>

<section id="speakers">
  <h2 class="sectionTitle"><a href="#speakers">Speakers</a></h2>
  <app-top-speakers
    [featuredSpeakers]="featuredSpeakers$ | async"
    [sessionSpeakers]="sessionSpeakers$ | async"
  >
  </app-top-speakers>
</section>

<section id="sponsors">
  <h2 class="sectionTitle"><a href="#sponsors">Sponsors</a></h2>
  <app-top-sponsors></app-top-sponsors>
</section>

<section id="highlights">
  <h2 class="sectionTitle">Look back on 2018</h2>
  <app-top-highlights></app-top-highlights>
</section>
