section {
  margin-top: 64px;
}

.sectionTitle {
  font-size: 48px;
  font-weight: var(--weight-bold);

  a {
    text-decoration: none;
    color: inherit;
  }
}

#about .sectionTitle {
  margin: 32px 0;
  color: var(--color-main-light);
}

/* --------------------------------
 * components
 * -------------------------------- */

.sectionTitle--sub {
  font-size: 24px;
  font-weight: var(--weight-bold);
}

.highlight {
  color: var(--color-main-light);
}

.card {
  position: relative;
  width: 327px;
  height: 372px;
  max-width: 100%;
  padding-top: 102px;
  background-color: #fff;
  box-shadow: 0 16px 30px 0 rgba(0, 0, 0, 0.24);
  color: var(--color-main-light);
  text-align: center;
}
.card--subColor {
  color: var(--color-sub);
}
.card__title {
  font-size: 24px;
  font-weight: var(--weight-bold);
  margin-bottom: 24px;
}
.card__image {
  width: 70px;
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
}
.card__description {
  color: var(--color-text);
  line-height: 1.7;
}
.card__buttonBox {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 124px;
  padding: 0 20px;
  background-color: currentColor;
}
.card__buttonBox .button {
  color: currentColor;
  margin: 32px auto;
}

/*
 * Strean Links
 */

.stream-links-header {
  font-size: 32px;
  font-weight: var(--weight-bold);
  margin-bottom: 16px;
}

.stream-links {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  grid-gap: 24px;
}

.stream-link {
  display: block;
  font-size: 24px;
}

/* --------------------------------
 * speakers
 * -------------------------------- */
.speakers {
  background-color: var(--color-background);
  padding: 80px 24px;
}

.speakers .sectionTitle {
  margin-bottom: 64px;
  color: var(--color-speaker);
}

.speakers__list,
.speakers__list--guest {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 952px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: flex-start;
}
.speakers__list li,
.speakers__list--guest li {
  margin: 0 auto 50px;
}
.speakers__list li a {
  color: var(--color-speaker);
  text-decoration: none;
}
.speakers__list--guest li a {
  color: #fff;
  text-decoration: none;
}

.speakers__list .speaker__company {
  width: 160px;
}

.speakers__list--guest {
  position: relative;
  margin-bottom: 94px;
  color: #fff;
}
.speakers__list--guest::after {
  content: '';
  display: block;
  position: absolute;
  width: 100vw;
  left: 50%;
  bottom: 0;
  height: 65%;
  transform: translateX(-50%);
  background-color: var(--color-main-light);
  z-index: 0;
}
.speakers__list--guest li {
  position: relative;
  z-index: 1;
}

.speakers__list--guest .speaker__image {
  width: 220px;
  height: 220px;
}

.speakers__list--guest .speaker__company {
  font-size: 18px;
}

/* --------------------------------
 * timetable
 * -------------------------------- */
.timetable {
  padding: 160px 24px 0;
}

.timetable .sectionTitle {
  margin-bottom: 64px;
}

/* ================================
 * SP
 * ================================ */
@media (max-width: 667px) {
  /* --------------------------------
   * components
   * -------------------------------- */

  .sectionTitle {
    font-size: 24px;
  }

  .sectionTitle--sub {
    font-size: 16px;
  }

  /*
   * Strean Links
   */

  .stream-links {
    grid-column-gap: 8px;
  }

  /* --------------------------------
   * about
   * -------------------------------- */
  .about {
    padding: 80px 20px;
  }

  .about__logo {
    width: 80px;
    margin-bottom: 28px;
  }

  .about__description {
    margin-top: 24px;
    font-size: 14px;
  }
  .about__description:lang(ja) {
    letter-spacing: initial;
  }

  /* --------------------------------
   * speakers
   * -------------------------------- */
  .speakers {
    padding: 40px 0;
  }

  .speakers .sectionTitle {
    margin-bottom: 24px;
  }

  .speakers__list,
  .speakers__list--guest {
    width: 100%;
  }
  .speakers__list li,
  .speakers__list--guest li {
    margin-bottom: 32px;
  }

  .speakers__list .speaker__image,
  .speakers__list--guest .speaker__image {
    width: 120px;
    height: 120px;
    margin: 0 20px 16px;
  }

  .speaker__name {
    font-size: 14px;
  }

  .speaker__company {
    font-size: 12px;
    width: 140px;
  }

  .speakers__list--guest {
    margin-bottom: 40px;
  }
  .speakers__list--guest::after {
    height: 70%;
  }

  .speakers__list--guest .speaker__name {
    font-size: 18px;
  }

  .speakers__list--guest .speaker__company {
    font-size: 14px;
  }

  /* --------------------------------
   * timetable
   * -------------------------------- */
  .timetable {
    padding: 80px 16px 0;
  }

  .timetable .sectionTitle {
    margin-bottom: 32px;
  }
}

.event-description {
  padding: 16px;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 1.14px;
}
