<app-hero></app-hero>

<section id="about">
  <h2 class="sectionTitle">What's <span class="highlight">ng-japan</span>?</h2>
  <app-top-introduction></app-top-introduction>
</section>

<section id="featuredSpeakers">
  <h2 class="sectionTitle">Speakers</h2>
  <app-top-speakers
    [featuredSpeakers]="featuredSpeakers$ | async"
    [sessionSpeakers]="sessionSpeakers$ | async"
  >
  </app-top-speakers>
</section>

<section id="videos"><!-- TODO --></section>

<section id="highlights">
  <h2 class="sectionTitle">Look back on 2018</h2>
  <app-top-highlights></app-top-highlights>
</section>

<section id="sponsors"><!--TODO--></section>
