:host {
  display: block;
}

.pageHeader {
  padding-top: calc(104px + 24px);
  padding-bottom: 24px;
  background: var(--color-main-light);
  color: var(--color-text-contrast);

  @media (max-width: 667px) {
    padding-top: calc(70px + 24px);
  }
}

.pageTitle {
  font-size: 48px;
  font-weight: var(--weight-bold);

  @media (max-width: 667px) {
    font-size: 32px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
}
