<img src="assets/images/logo.svg" alt="ng-japan ロゴ" height="128" />
<p class="sectionDescription">
  ng-japan is the largest Angular conference in Japan.<br />
  It'll have talks with great speakers, including the Angular core team from
  Google.<br />
  <br />
  ng-japanは日本最大のAngularカンファレンスです。<br />
  GoogleのAngularコアチームを含む、素晴らしい講演者のセッションが予定されています。
</p>

<div class="twitterFollow">
  <p class="twitterFollowText">Get updates on Twitter!</p>
  <div class="twitterFollowLink">
    <a href="https://twitter.com/ng_japan">Follow @ng_japan</a>
  </div>
</div>
