/*
 * footer
 */

footer {
  background-color: #1d212b;
  padding: 32px 16px;
  color: var(--color-text--contrast);

  .footer__twitterFollow {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 32px;
  }

  a:not(.button) {
    color: var(--color-text--contrast);
  }

  .footer__nav {
    margin-bottom: 12px;

    li {
      display: inline;
      margin-right: 6px;
    }
  }
}
