.timetable {
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  width: 960px;
  margin: 80px auto 0;
}

.roomA,
.roomB,
.roomAB {
  padding: 24px;
  text-align: left;
  position: relative;
}

.time,
.text {
  font-size: 16px;
  color: var(--color-speaker);
  font-weight: bold;
}

.time {
  grid-column: 1 / 2;
  border-right: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  justify-content: center;
}

.roomA {
  grid-column: 2 / 3;
}

@media (min-width: 668px) {
  .roomA:not(.roomTitle)::after {
    content: '';
    display: block;
    position: absolute;
    top: 24px;
    bottom: 24px;
    right: 0;
    border-right: 1px solid var(--color-border);
  }
}

.roomB {
  grid-column: 3 / 4;
}

.roomAB {
  grid-column: 2 / 4;
}

.line {
  grid-column: 1 / 4;
  height: 0;
  border-bottom: 1px solid var(--color-border);
}

.line.strong {
  border-bottom-width: 2px;
}

.line.half {
  grid-column: 1 / 3;
}

.roomTitle {
  text-align: center;
  padding-bottom: 24px;
  font-size: 32px;
  color: var(--color-speaker);
  font-weight: bold;
}

.roomHighlight--A {
  color: var(--color-sub);
}

.roomHighlight--B {
  color: var(--color-main-light);
}

.serviceSession {
  grid-row: span 4;
}

@media (max-width: 667px) {
  .timetable {
    display: block;
    width: 100%;
    margin: 32px auto 0;
  }

  .roomTitle,
  .line {
    display: none;
  }

  .time {
    background: var(--color-border);
    border-radius: 8px;
    height: 32px;
  }

  .text {
    text-align: center;
  }

  .roomA,
  .roomB,
  .roomAB {
    margin: 24px 0;
    padding: 0;
    text-align: left;
    color: transparent;
  }
  .roomA {
    color: var(--color-sub);
  }
  .roomB {
    color: var(--color-main-light);
  }

  .roomA::before,
  .roomB::before {
    content: 'Room';
    position: absolute;
    right: 24px;
    bottom: 8px;
    font-weight: bold;
    font-size: 16px;
    color: var(--color-text);
  }
  .roomA::after,
  .roomB::after {
    position: absolute;
    right: 8px;
    bottom: 8px;
    font-weight: bold;
    font-size: 16px;
    color: currentColor;
  }
  .roomA::after {
    content: 'A';
  }
  .roomB::after {
    content: 'B';
  }
}
