@charset "UTF-8";

/* --------------------------------
 * variables
 * -------------------------------- */
:root {
  --color-main-light: #E23030;
  --color-main-dark: #B52C2D;
  --color-sub: #FFA726;
  --color-text: #3F475C;
  --color-speaker: #1D212B;
  --color-background: #F7F8FA;

  --weight-regular: 400;
  --weight-bold: 700;
  --weight-black: 800;
}

/* --------------------------------
 * base
 * -------------------------------- */
body {
  color: var(--color-text);
  font-size: 14px;
  text-align: center;
  font-family: Poppins, "Hiragino Sans", "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
  font-weight: var(--weight-regular);
}
*, *::before, *::after {
  box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active {
  color: var(--color-main-light);
}
strong {
  font-weight: var(--weight-regular);
}
