:host {
  display: block;
  position: relative;
  height: 100vh;
  overflow: hidden;
  color: var(--color-text-contrast);
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1000;
}

a:not(.button) {
  color: var(--color-text-contrast);
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.title {
  font-weight: var(--weight-black);
  margin-bottom: 24px;
  background: url('assets/images/title.svg') no-repeat center center;
  background-size: contain;
  color: transparent;
  height: 96px;
}

.subtitle {
  font-size: 32px;
  margin-bottom: 16px;
}

.information {
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 24px;
}

@media (max-width: 667px) {
  .title {
    margin-bottom: 24px;
    height: 48px;
  }
  .subtitle {
    font-size: 24px;
  }
  .information {
    font-size: 20px;
  }
}
