:host {
  --triangle-width: 1250px;
  --triangle-height: 700px;

  display: block;
  position: relative;
  height: var(--triangle-height);
  overflow: hidden;
  color: var(--color-text-contrast);

  @media (min-width: 2000px) {
    --triangle-width: 1800px;
  }

  @media (max-width: 667px) {
    --triangle-width: 870px;
    --triangle-height: 480px;
  }
}

a:not(.button) {
  color: var(--color-text-contrast);
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.title {
  font-weight: var(--weight-black);
  font-size: 88px;
  margin-bottom: 24px;
  background: url('assets/images/title.svg') no-repeat center center;
  background-size: contain;
  color: transparent;
  height: 97px;
}

.information {
  font-size: 24px;
  letter-spacing: 1.2px;
  line-height: 1.8;
  margin-bottom: 24px;
}

@media (max-width: 667px) {
  .title {
    font-size: 38px;
    margin-bottom: 24px;
    height: 42px;
  }
  .information {
    font-size: 13px;
  }
}
