<!-- prettier-ignore -->
<div class="container">
  <div class="description">
    (in alphabetical order)
  </div>

  <div class="section gold">
    <h3 class="gradeLabel">Gold</h3>
    <ul class="sponsorsList">
      <li><!-- bitbank -->
        <a href="https://bitbank.cc/" target="_blank" rel="noreferrer noopener" class="sponsor">
          <mat-card><img src="assets/images/sponsors/gold/bitbank.png" alt="bitbank" [height]="imgHeight.gold"/></mat-card>
        </a>
      </li>
      <li><!-- bizreach -->
        <a href="http://www.bizreach.co.jp/" target="_blank" rel="noreferrer noopener" class="sponsor">
          <mat-card><img src="assets/images/sponsors/gold/bizreach.png" alt="bizreach" [height]="imgHeight.gold"/></mat-card>
        </a>
      </li>
      <li><!-- emotion-tech -->
        <a href="https://www.emotion-tech.co.jp/" target="_blank" rel="noreferrer noopener" class="sponsor">
          <mat-card><img src="assets/images/sponsors/gold/emotion-tech.png" alt="emotion-tech" [height]="imgHeight.gold"/></mat-card>
        </a>
      </li>
      <li> <!-- infragistics -->
        <a href="https://jp.infragistics.com/products/ignite-ui-angular" target="_blank" rel="noreferrer noopener" class="sponsor">
          <mat-card><img src="assets/images/sponsors/gold/infragistics.png" alt="infragistics" [height]="imgHeight.gold"/></mat-card>
        </a>
      </li>
      <li> <!-- safie -->
        <a href="https://safie.link/" target="_blank" rel="noreferrer noopener" class="sponsor">
          <mat-card><img src="assets/images/sponsors/gold/safie.png" alt="safie" [height]="imgHeight.gold"/></mat-card>
        </a>
      </li>
      <li> <!-- techfeed -->
        <a href="https://techfeed.io" target="_blank" rel="noreferrer noopener" class="sponsor">
          <mat-card><img src="assets/images/sponsors/gold/techfeed.svg" alt="techfeed" [height]="imgHeight.gold"/></mat-card>
        </a>
      </li>
      <li> <!-- toreta -->
        <a href="https://toreta.in/jp/" target="_blank" rel="noreferrer noopener" class="sponsor">
          <mat-card><img src="assets/images/sponsors/gold/toreta.png" alt="toreta" [height]="imgHeight.gold"/></mat-card>
        </a>
      </li>
      <li> <!-- transcosmos -->
        <a href="https://t-rnd.com/" target="_blank" rel="noreferrer noopener" class="sponsor">
          <mat-card><img src="assets/images/sponsors/gold/transcosmos.png" alt="transcosmos" [height]="imgHeight.gold"/></mat-card>
        </a>
      </li>
    </ul>
  </div>
  <div class="section silver">
    <h3 class="gradeLabel">Silver</h3>
    <ul class="sponsorsList">
      <li> <!-- grapecity -->
        <a href="https://www.grapecity.co.jp/developer" target="_blank" rel="noreferrer noopener" class="sponsor">
          <mat-card><img src="assets/images/sponsors/silver/grapecity.png" alt="grapecity" [attr.height]="imgHeight.silver"/></mat-card>
        </a>
      </li>
      <li> <!-- mediawave -->
        <a href="https://mwave.jp" target="_blank" rel="noreferrer noopener" class="sponsor">
          <mat-card><img src="assets/images/sponsors/silver/mediawave.png" alt="mediawave" [attr.height]="imgHeight.silver"/></mat-card>
        </a>
      </li>
      <li> <!-- pixelgrid -->
        <a href="https://www.pxgrid.com/" target="_blank" rel="noreferrer noopener" class="sponsor">
          <mat-card><img src="assets/images/sponsors/silver/pixelgrid.png" alt="pixelgrid" [attr.height]="imgHeight.silver"/></mat-card>
        </a>
      <li> <!-- playground -->
        <a href="https://playground.live/" target="_blank" rel="noreferrer noopener" class="sponsor">
          <mat-card><img src="assets/images/sponsors/silver/playground.png" alt="playground" [attr.height]="imgHeight.silver"/></mat-card>
        </a>
      </li>
      <li> <!-- squeeze -->
        <a href="https://squeeze-inc.co.jp/" target="_blank" rel="noreferrer noopener" class="sponsor">
          <mat-card><img src="assets/images/sponsors/silver/squeeze.png" alt="squeeze" [attr.height]="imgHeight.silver"/></mat-card>
        </a>
      </li>
      <li> <!-- stylez -->
        <a href="https://www.stylez.co.jp/" target="_blank" rel="noreferrer noopener" class="sponsor">
          <mat-card><img src="assets/images/sponsors/silver/stylez.png" alt="stylez" [attr.height]="imgHeight.silver"/></mat-card>
        </a>
      </li>
    </ul>
  </div>
  <div class="section special">
    <h3 class="gradeLabel">Scholarship</h3>
    <ul class="sponsorsList">
      <li> <!-- classi -->
        <a href="https://classi.jp/corporate/" target="_blank" rel="noreferrer noopener" class="sponsor">
          <mat-card><img src="assets/images/sponsors/classi.png" alt="classi" [attr.height]="imgHeight.special"/></mat-card>
        </a>
    </ul>
  </div>
  <div class="section special">
    <h3 class="gradeLabel">Special Thanks</h3>
    <ul class="sponsorsList">
      <li> <!-- angular -->
        <a href="https://angular.io/" target="_blank" rel="noreferrer noopener" class="sponsor">
          <mat-card><img src="assets/images/sponsors/angular.png" alt="angular" [attr.height]="imgHeight.special"/></mat-card>
        </a>
    </ul>
  </div>
</div>
