<header>
  <app-logo class="logo"></app-logo>
  <app-header-menu class="headerMenu"></app-header-menu>
</header>

<main><router-outlet></router-outlet></main>

<footer>
  <nav class="footerNav">
    <ul>
      <li>
        <a
          href="https://goo.gl/forms/BPxgGhNhdU803JDP2"
          target="_blank"
          rel="noreferrer noopener"
        >
          Contact
        </a>
      </li>
      <li><a href="/coc.html" target="_blank">行動規範</a></li>
      <li><a href="/coc-en.html" target="_blank">Code of Conduct</a></li>
      <li><a href="https://2018.ngjapan.org/" target="_blank">2018</a></li>
      <li><a href="https://2017.ngjapan.org/" target="_blank">2017</a></li>
      <li><a href="https://2016.ngjapan.org/" target="_blank">2016</a></li>
      <li><a href="https://2015.ngjapan.org/" target="_blank">2015</a></li>
    </ul>
  </nav>
  <p>© 2019 Angular Japan User Group</p>
</footer>
