.footer {
  background-color: #1d212b;
  padding: 32px 0;
  color: #fff;
}
.footer a:not(.button) {
  color: #fff;
}

.footer__nav {
  margin-bottom: 12px;
}
.footer__nav li {
  display: inline;
  margin-right: 6px;
}

.followUs {
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0 80px 32px;
}

.followUs strong {
  font-weight: bold;
}

.followUs__text {
  font-size: 24px;
  margin-bottom: 24px;
}

.followUs__twitterButton {
  text-align: center;
}

@media (max-width: 667px) {
  .followUs {
    margin: 0 16px 32px;
  }

  .followUs__text {
    font-size: 16px;
  }
}
