<router-outlet></router-outlet>
<footer class="footer inverse">
  <section class="followUs">
    <p class="followUs__text" i18n="@@twitter">Get updates on Twitter!</p>
    <div class="followUs__twitterButton">
      <a href="https://twitter.com/ng_japan">Follow @ng_japan</a>
    </div>
  </section>
  <nav class="footer__nav">
    <ul>
      <li>
        <a
          href="https://goo.gl/forms/utt8Dv4TIpHEcMMa2"
          target="_blank"
          rel="noreferrer noopener"
          >Contact</a
        >
      </li>
      <li>
        <a href="/coc-en.html" target="_blank">Code of Conduct</a>
      </li>
      <li><a href="/2018/" target="_blank">2018</a></li>
      <li><a href="/2017/" target="_blank">2017</a></li>
      <li><a href="/2016/" target="_blank">2016</a></li>
      <li><a href="/2015/" target="_blank">2015</a></li>
    </ul>
  </nav>
  <p>© 2019 Angular Japan User Group</p>
</footer>
