:host {
  display: block;
  padding: 64px 0;
}

.videos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-right: -16px;
  margin-bottom: -16px;

  .video {
    margin-right: 16px;
    margin-bottom: 16px;
  }

  .video > iframe {
    width: 560px;
    height: 315px;
  }

  @media (max-width: 667px) {
    flex-direction: column;

    .video > iframe {
      width: 80%;
    }
  }
}
