<app-header class="global-header" [isTransparent]="isTop" [showJoinButton]="false"></app-header>
<div class="header">
  <div class="header__bg"></div>
  <div class="header__shadow1"></div>
  <div class="header__shadow2"></div>
  <div class="header__shadow3"></div>
  <div class="header__main">
    <h1 class="title">ng-japan 2018</h1>
    <p class="subTitle">
      2018.06.16(Sat) 13:00 -<span class="at"></span>Google Japan<br />
      <span i18n="@@place">Tokyo, Roppongi Hills</span>
    </p>
    <a class="button" i18n="@@connpass" href="https://ngjapan.connpass.com/event/88084/" target="_blank" rel="noreferrer noopener">Join us!</a>
  </div>
  <span class="header__scroller" (click)="scroll()"></span>
</div>
<section class="about" id="about">
  <img src="assets/images/logo.png" alt="ng-japan ロゴ" class="about__logo">
  <h2 class="sectionTitle">What's <span class="highlight">ng-japan</span>?</h2>
  <p class="about__description" i18n="@@description">
    ng-japan 2018 is the 4th conference in Japan about Angular and web technologies around it.<br />
    It'll have sessions with great speakers, including the Angular core team at Google.<br />
    It will be held on Google Japan on Saturday, June 16, 2018.
  </p>
</section>
<section id="speakers" class="speakers">
  <h2 class="sectionTitle">Speakers</h2>
  <ul class="speakers__list--guest">
    <li *ngFor="let guest of guests">
      <a routerLink="/speakers" fragment="id-{{guest.id}}">
        <app-speaker-avatar class="speaker__image" [speaker]="guest"></app-speaker-avatar>
        <h3 class="speaker__name">{{guest.fullName}}</h3>
        <p class="speaker__company">{{guest.tagLine}}</p>
      </a>
    </li>
  </ul>
  <ul class="speakers__list">
    <li *ngFor="let speaker of speakers">
      <a routerLink="/speakers" fragment="id-{{speaker.id}}">
        <app-speaker-avatar class="speaker__image" [speaker]="speaker"></app-speaker-avatar>
        <h3 class="speaker__name">{{speaker.fullName}}</h3>
        <p class="speaker__company">{{speaker.tagLine}}</p>
      </a>
    </li>
  </ul>
</section>
<section id="timetable" class="timetable">
  <h2 class="sectionTitle">Time Table</h2>
  <app-timetable [sessions]="sessionMap" [speakers]="speakerMap"></app-timetable>
</section>
<section id="sponsors" class="sponsors">
  <h2 class="sectionTitle">
    Sponsors
    <span class="sponsors__note" i18n="@@alphabetical">(in alphabetical order)</span>
  </h2>
  <ul class="sponsors__list">
    <li>
        <a href="http://ashiras.xyz/" target="_blank" rel="noreferrer noopener" class="sponsor">
          <img src="assets/images/sponsors/ashiras.png" alt="Ashiras, Inc." width="200">
        </a>
    </li>
    <li>
      <a href="http://www.atama.plus/" target="_blank" rel="noreferrer noopener" class="sponsor">
        <img src="assets/images/sponsors/atamaplus.png" alt="atama+" width="179">
      </a>
    </li>
    <li>
      <a href="https://bitbank.cc/" target="_blank" rel="noreferrer noopener" class="sponsor">
        <img src="assets/images/sponsors/bitbank.png" alt="bitbank" width="178">
      </a>
    </li>
    <li>
      <a href="http://www.bizreach.co.jp/" target="_blank" rel="noreferrer noopener" class="sponsor">
        <img src="assets/images/sponsors/bizreach.png" alt="bizreach" width="200">
      </a>
    </li>
    <li>
      <a href="https://classi.jp/corporate/" target="_blank" rel="noreferrer noopener" class="sponsor">
        <img src="assets/images/sponsors/classi.png" alt="Classi" width="136">
      </a>
    </li>
    <li>
      <a href="https://www.emotion-tech.co.jp/" target="_blank" rel="noreferrer noopener" class="sponsor">
        <img src="assets/images/sponsors/emotion-tech.png" alt="Emotion Tech" width="200">
      </a>
    </li>
    <li>
      <a href="https://corp.folio-sec.com/" target="_blank" rel="noreferrer noopener" class="sponsor">
        <img src="assets/images/sponsors/folio.png" alt="FOLIO" width="180">
      </a>
    </li>
    <li>
      <a href="https://www.grapecity.co.jp/developer" target="_blank" rel="noreferrer noopener" class="sponsor">
        <img src="assets/images/sponsors/grapecity.png" alt="GrapeCity" width="200">
      </a>
    </li>
    <li>
      <a href="https://www.hands-lab.com/" target="_blank" rel="noreferrer noopener" class="sponsor">
        <img src="assets/images/sponsors/handslab.png" alt="HANDS LAB" width="240">
      </a>
    </li>
    <li>
      <a href="https://jp.infragistics.com/products/ignite-ui-angular" target="_blank" rel="noreferrer noopener" class="sponsor">
        <img src="assets/images/sponsors/infragistics.png" alt="INFRAGISTICS" width="237">
      </a>
    </li>
    <li>
      <a href="https://kaizenplatform.com/" target="_blank" rel="noreferrer noopener" class="sponsor">
        <img src="assets/images/sponsors/kaizenplatform.png" alt="Kaizen Platform" width="240">
      </a>
    </li>
    <li>
      <a href="http://www.nri.com/jp" target="_blank" rel="noreferrer noopener" class="sponsor">
        <img src="assets/images/sponsors/nri.png" alt="NRI" width="142">
      </a>
    </li>
    <li>
      <a href="https://www.opt.ne.jp/opttechnologies/" target="_blank" rel="noreferrer noopener" class="sponsor">
        <img src="assets/images/sponsors/opt.gif" alt="opt" width="178">
      </a>
    </li>
    <li>
      <a href="https://www.oro.com/ja/" target="_blank" rel="noreferrer noopener" class="sponsor">
        <img src="assets/images/sponsors/oro.png" alt="oRo" width="74">
      </a>
    </li>
    <li>
      <a href="https://www.pxgrid.com/" target="_blank" rel="noreferrer noopener" class="sponsor">
        <img src="assets/images/sponsors/pixelgrid.png" alt="ピクセルグリッド" width="200">
      </a>
    </li>
    <li>
      <a href="http://quartetcom.co.jp/recruit/engineer/" target="_blank" rel="noreferrer noopener" class="sponsor">
        <img src="assets/images/sponsors/quartet.png" alt="カルテットコミュニケーションズ" width="144">
      </a>
    </li>
    <li>
      <a href="https://spotsale.jp" target="_blank" rel="noreferrer noopener" class="sponsor">
        <img src="assets/images/sponsors/spotsale.png" alt="SPOTSALE" width="200">
      </a>
    </li>
    <li>
      <a href="https://www.stylez.co.jp/" target="_blank" rel="noreferrer noopener" class="sponsor">
        <img src="assets/images/sponsors/stylez.png" alt="Stylez" width="148">
      </a>
    </li>
    <li>
      <a href="https://toreta.in/jp/" target="_blank" rel="noreferrer noopener" class="sponsor">
        <img src="assets/images/sponsors/toreta.png" alt="トレタ" width="200">
      </a>
    </li>
  </ul>
</section>
<section id="community" class="sponsors">
  <h2 class="sectionTitle">Community Partners</h2>
  <ul class="sponsors__list--community">
    <li>
      <a href="https://firebase.asia/" target="_blank" rel="noreferrer noopener" class="community">
        <img src="assets/images/communities/fjug.png" alt="Firebase Japan User Group" width="85">
      </a>
    </li>
    <li>
      <a href="https://gdg-tokyo.connpass.com/" target="_blank" rel="noreferrer noopener" class="community">
        <img src="assets/images/communities/gdg.png" alt="GDG Tokyo" width="100">
      </a>
    </li>
    <li>
      <a href="https://ionic-jp.connpass.com/" target="_blank" rel="noreferrer noopener" class="community">
        <img src="assets/images/communities/ionic.png" alt="Ionic Japan" width="82">
      </a>
    </li>
    <li>
      <a href="https://polymer-jp.org/" target="_blank" rel="noreferrer noopener" class="community">
        <img src="assets/images/communities/polymer.png" alt="Polymer Japan" width="100">
      </a>
    </li>
  </ul>
</section>
