/* --------------------------------
 * variables
 * -------------------------------- */
:root {
  --color-main-light: #e23030;
  --color-main-dark: #b52c2d;
  --color-sub: #ffa726;
  --color-text: #3f475c;
  --color-speaker: #1d212b;
  --color-border: #d7dce6;
  --color-background: #f7f8fa;
  --color-text--contrast: #fff;

  --weight-regular: 400;
  --weight-bold: 700;
  --weight-black: 800;
}

/* --------------------------------
 * base
 * -------------------------------- */
body {
  color: var(--color-text);
  font-size: 14px;
  text-align: center;
  font-family: Poppins, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo,
    sans-serif;
  font-weight: var(--weight-regular);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a:link,
a:visited,
a:hover,
a:active {
  color: var(--color-main-light);
}
strong {
  font-weight: var(--weight-regular);
}

@import 'styles/footer';
